.container {
  width: 60%;
  background-color: #fff;
  margin: 10px auto !important;
  min-height: 100vh;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.ql-toolbar.ql-snow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  border: none !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px 0 !important;
}
